<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Silk Test Site</title>
    <script type="text/javascript" src="resource/js/jquery.min.js"></script>
    <script type="text/javascript" src="resource/js/folding.js"></script>
    <link rel="stylesheet" type="text/css" href="resource/css/tree-styles.css">
  </head>
  <body>
  	<header>
  		<h1>Tree template</h1>
      <div data-sw-component="view-menu" data-sw-source="sw/views" data-sw-sort="priority" data-sw-sort-dir="ascending">
        Placeholder for header menu component
      </div>
  	</header>
    <div data-sw-view="">
      View will be inserted here
    </div>
  </body>
</html>
