<html>
  <body data-sw-nav="Relativisation-1" data-sw-priority="5">
    <p>A child page which tests relativisation.</p>
    <a href="mailto:somebody@somewhere.com">Mail relativisation candidate</a>
    <br />
    <a href="tel:123456">Telephone relativisation candidate</a>
    <br />
    <a href="#page-anchor">Page anchor relativisation candidate</a>
    <br />
    <a href="components.html">Link to components</a>
    <br />
    <a href="child-level-1/same-level.html">Link to same level</a>
    <br />
    <a href="child-level-1/child-level-2/child-level-2.html">Link to Child Level 2</a>
  </body>
</html>
