<html>
  <body>
    <div>
    <h2>Tree sample - programming languages</h2>
    <ul>
        <li>
          functional
          <ul>
            <li>knockoff
              <ul>
                  <li>f#</li>
              </ul>
            </li>
            <li>lisp
              <ul>
                  <li>clojure</li>
                  <li>scheme</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          imperative
          <ul>
              <li>
                c
                <ul>
                    <li>c</li>
                    <li>java</li>
                </ul>
              </li>
          </ul>
        </li>
    </ul>
  </div>
  </body>
</html>
