<html>
  <body data-sw-nav="Components" data-sw-priority="1">
    <p>Tests various components and shows the expected output</p>
    <table border="0" cellspacing="2" cellpadding="2" width="100%">
      <thead>
        <tr><th>Silk Generated</th><th>Expected</th></tr>
      </thead>
      <tbody>
        <tr valign="top">
          <td>
            <div data-sw-component="test-component/test-component">
              Placeholder for test-component
            </div>
            <div>Test to see how many levels components can have</div>
            <div data-sw-component="level-component/1">Error at level 1</div>
            <div>Test to see what happens if a component calls itself</div>
            <div data-sw-component="level-component/recursive">
              Placeholder for recursive text
            </div>
            <div data-sw-component="test-component/data-li-non-nested" data-sw-source="items">
              Placeholder for data-li-non-nested
            </div>
            <div data-sw-component="test-component/item-limit" data-sw-source="items" data-sw-limit="1">
              Placeholder for item-limit
            </div>
            <div data-sw-component="test-component/data-li-nested" data-sw-source="items">
              Placeholder for data-li-nested
            </div>
            <div data-sw-component="test-component/data-table" data-sw-source="items">
              Placeholder for data-table
            </div>
            <div data-sw-component="test-component/data-tbody" data-sw-source="items">
              Placeholder for data-tbody
            </div>
            <div data-sw-component="test-component/data-multi-singular-write" data-sw-source="items/item1.edn">
              Placeholder for data-multi-singular-write
            </div>
            <div data-sw-component="test-component/data-ul-nested-repeating" data-sw-source="items">
              Placeholder for data-ul-nested-repeating
            </div>
            <div data-sw-component="test-component/data-when" data-sw-source="options">
              Placeholder for data-when
            </div>
            <div data-sw-component="test-component/data-when-not" data-sw-source="options">
              Placeholder for data-when-not
            </div>
            <div data-sw-component="test-component/rich-repeating" data-sw-source="rich-items">
              Placeholder for rich-repeating
            </div>
            <div data-sw-component="test-component/markdown-repeating" data-sw-source="markdown">
              Placeholder for rich-repeating
            </div>
          </td>
          <td data-sw-component="expected/components">
            Placeholder for expected output
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
