<html>
  <body>
    <h2>test page</h2>
    
    <div data-sw-component="test-component/test-component">
      Placeholder for test-component
	</div>

	<div data-sw-component="test-component/data-li-non-nested" data-sw-source="items">
	  Placeholder for data-li-non-nested
	</div>

	<div data-sw-component="test-component/data-li-nested" data-sw-source="items">
	  Placeholder for data-li-nested
	</div>

	<div data-sw-component="test-component/data-tr" data-sw-source="items">
	  Placeholder for data-tr
	</div>

    <div data-sw-component="test-component/data-multi-singular-write" data-sw-source="items">
	  Placeholder for data-multi-singular-write
	</div>

    <div data-sw-component="test-component/data-ul-nested-repeating" data-sw-source="items">
	  Placeholder for data-ul-nested-repeating
	</div>	
  </body>
</html>
